@font-face {
    font-family: ic;
    src: url("//at.alicdn.com/t/font_1832207_igi8uaupcus.eot");
    src: url("//at.alicdn.com/t/font_1832207_igi8uaupcus.eot?#iefix") format('embedded-opentype'), url("//at.alicdn.com/t/font_1832207_igi8uaupcus.woff2") format('woff2'), url("//at.alicdn.com/t/font_1832207_igi8uaupcus.woff") format('woff'), url("//at.alicdn.com/t/font_1832207_igi8uaupcus.ttf") format('truetype'), url("//at.alicdn.com/t/font_1832207_igi8uaupcus.svg#ic") format('svg')
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes rainbow {
    to {
        background-position: -2000vw;
    }
}

@-moz-keyframes rainbow {
    to {
        background-position: -2000vw;
    }
}

@keyframes rainbow {
    to {
        background-position: -2000vw;
    }
}

.button {
    padding: 15px 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: 0 9px #999;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    -webkit-box-shadow: 0 5px #666;
    box-shadow: 0 5px #666;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

.vertical-menu {
    margin-left: 10px;
    margin-top: 2%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    /* 如果需要垂直堆叠 */
    gap: 10px;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
}

.vertical-menu a {
    color: black;
    padding: 12px;
    text-decoration: none;
    border-radius: 5px;
}

.vertical-menu a:hover {
    background-color: rgb(54, 63, 120);
    border-radius: 5px;
}

.main {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-left: 5%;
    background-color: rgba(38, 44, 81, 0.557);
    border-radius: 5px;
    margin-bottom: 1%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.icon {
    border-radius: 100%;
    border-style: solid;
    border-color: #202020;
    border-width: 5px;
}

.icon:hover {
    -webkit-box-shadow: 4px 4px 10px rgba(27, 31, 58, 0.966);
    box-shadow: 4px 4px 10px rgba(27, 31, 58, 0.966);
}

.cards {
    margin-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    padding-right: 10px;
    margin-left: 40px;
}

.card {
    background-color: rgba(55, 63, 116, 0.446);
    border-radius: 5px;
    width: 300px;
    margin-left: 20px;
    padding-left: 10px;
    height: 200px;
    color: white;
    -webkit-box-shadow: 0px 0px 10px rgba(18, 20, 35, 0.446);
    box-shadow: 0px 0px 10px rgba(18, 20, 35, 0.446);
    -webkit-transition: boc-shadow 1s;
    -moz-transition: boc-shadow 1s;
    transition: boc-shadow 1s;
}

.card:hover {
    -webkit-box-shadow: 4px 4px 10px rgba(18, 20, 35, 0.446);
    box-shadow: 4px 4px 10px rgba(18, 20, 35, 0.446);
    -webkit-transition: -webkit-box-shadow 1s;
    transition: -webkit-box-shadow 1s;
    -moz-transition: box-shadow 1s;
    transition: box-shadow 1s;
    transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.card button {
    color: white;
    text-decoration: none;
    background-color: #006aff6e;
    background: -webkit-gradient(linear, left top, right top, from(#EE82EE), to(#00D1FF));
    background: -webkit-linear-gradient(left, #EE82EE 0%, #00D1FF 100%);
    background: -moz-linear-gradient(left, #EE82EE 0%, #00D1FF 100%);
    background: linear-gradient(90deg, #EE82EE 0%, #00D1FF 100%);
    border: none;
    border-radius: 5px;
    margin-left: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 10px #0055ff6e;
    box-shadow: 0px 0px 10px #0055ff6e;
    font-size: 12px;
    -webkit-transition: padding-left 500ms, padding-right 500ms, font-size 500ms, -webkit-box-shadow 500ms;
    transition: padding-left 500ms, padding-right 500ms, font-size 500ms, -webkit-box-shadow 500ms;
    -moz-transition: padding-left 500ms, padding-right 500ms, box-shadow 500ms, font-size 500ms;
    transition: padding-left 500ms, padding-right 500ms, box-shadow 500ms, font-size 500ms;
    transition: padding-left 500ms, padding-right 500ms, box-shadow 500ms, font-size 500ms, -webkit-box-shadow 500ms;
}

.card button:hover {
    -webkit-box-shadow: 5px 5px 10px #0055ff6e;
    box-shadow: 5px 5px 10px #0055ff6e;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.word {
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    background-color: rgba(27, 31, 58, 0.446);
    padding-bottom: 20px;
    height: -webkit-calc(auto-1em);
    height: -moz-calc(auto-1em);
    height: calc(auto-1em);
    margin: 20px 10px 20px 70px
}

.word .code {
    padding: 2px 4px;
    font-size: 100%;
    color: rgba(237, 118, 137, .9);
    background-color: #222;
    border-radius: 4px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    font-family: "cascadia code"
}

.word,
.word pre {
    border-radius: 10px;
    padding-right: 1%;
}

.word h1 {
    position: relative;
    /* 使::after的定位生效 */
    font-family: Georgia;
    color: rgb(38, 172, 255);
    border-bottom: .1rem solid var(--bs-gray-dark);
    padding-left: 10px;
    margin-left: -15px;

    &::before {
        content: "H  ";
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-weight: 200;
        font-size: 30px;
        color: rgb(38, 172, 255);
    }

    &::after {
        content: " 1";
        position: absolute;
        /* 添加绝对定位 */
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 50%;
        color: rgb(38, 172, 255);
        line-height: 3;
        width: 1.25rem;
        font-weight: 200;
        left: 30px;
    }
}

.word h2 {
    font-family: Georgia;
    color: rgb(38, 172, 255);
    font-family: Georgia;
    color: var(--bs-white);

    &::before {
        content: "H    ";
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-weight: 200;
        font-size: 25px;
        color: rgb(38, 172, 255);
        left: 164.5px;
    }

    &::after {
        content: " 2 ";
        position: absolute;
        /* 添加绝对定位 */
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 40%;
        color: rgb(38, 172, 255);
        line-height: 4;
        width: 1.25rem;
        font-weight: 200;
        left: 107px;
    }
}

.word h3 {
    font-family: Georgia;
    color: rgb(38, 172, 255);
    font-family: Georgia;
    color: var(--bs-white);

    &::before {
        content: "H    ";
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-weight: 200;
        font-size: 20px;
        color: rgb(38, 172, 255);
        left: 162px;
    }

    &::after {
        content: " 3 ";
        position: absolute;
        /* 添加绝对定位 */
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 40%;
        color: rgb(38, 172, 255);
        line-height: 4;
        width: 1.25rem;
        font-weight: 200;
        left: 105px;
    }
}

.word h4 {
    font-family: Georgia;
    color: rgb(38, 172, 255);
    font-family: Georgia;
    color: var(--bs-white);

    &::before {
        content: " H ";
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-weight: 180;
        font-size: 18px;
        color: rgb(38, 172, 255);
        left: 160px;
    }

    &::after {
        content: " 4 ";
        position: absolute;
        /* 添加绝对定位 */
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 40%;
        color: rgb(38, 172, 255);
        line-height: 4;
        width: 1.25rem;
        font-weight: 200;
        left: 103px;
    }
}

.word h5 {
    font-family: Georgia;
    color: rgb(38, 172, 255);
    font-family: Georgia;
    color: var(--bs-white);

    &::before {
        content: " H ";
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-weight: 160;
        font-size: 16px;
        color: rgb(38, 172, 255);
        left: 158px;
    }

    &::after {
        content: " 5 ";
        position: absolute;
        /* 添加绝对定位 */
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 40%;
        color: rgb(38, 172, 255);
        line-height: 4;
        width: 1.25rem;
        font-weight: 200;
        left: 101px;
    }
}

.word h6 {
    font-family: Georgia;
    color: rgb(38, 172, 255);
    font-family: Georgia;
    color: var(--bs-white);

    &::before {
        content: " H ";
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-weight: 140;
        font-size: 14px;
        color: rgb(38, 172, 255);
        left: 158px;
    }

    &::after {
        content: " 6 ";
        position: absolute;
        /* 添加绝对定位 */
        font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 40%;
        color: rgb(38, 172, 255);
        line-height: 4;
        width: 1.25rem;
        font-weight: 200;
        left: 99px;
    }
}

.word .note-warning {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-left: .25rem solid #ffda6a;
    background-color: #ffe17580;
    color: #ffda6a;
    margin-right: 10px;
    border-radius: .1875rem;
    font-size: 16px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.word .note-danger:hover,
.word .note-info:hover,
.word .note-warning:hover {
    font-size: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.word .note-end,
.word .note-info {
    border-left: .25rem solid #63b1ff;
    background-color: #63b1ff80;
    color: #63b1ff
}

.word .note,
.word .note-danger,
.word .note-end,
.word .note-info {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 10px;
    border-radius: .1875rem;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.word .note-danger {
    border-left: .25rem solid #ff5c5c;
    background-color: #ff5c5c80;
    color: #ff5c5c
}

.word .note {
    border-left: .25rem solid var(--bs-primary);
    background-color: #7c7c7c6e;
    color: var(--bs-white)
}

.word ins {
    text-decoration: none;
    border-bottom: .125rem solid #2774f9
}

.word .dot,
.word .wavy {
    --line-color: #2774f9;
    -webkit-text-decoration-style: wavy;
    -moz-text-decoration-style: wavy;
    text-decoration-style: wavy;
}

.word .wavy {
    -webkit-text-decoration-line: underline;
    -moz-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-color: var(--line-color);
    -moz-text-decoration-color: var(--line-color);
    text-decoration-color: var(--line-color);
    border-bottom: none
}

.word .dot {
    -webkit-text-decoration-line: none;
    -moz-text-decoration-line: none;
    text-decoration-line: none;
    border-bottom: .2rem dotted var(--line-color)
}

.word .link {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    justify-self: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    line-height: 1.5;
    width: -webkit-calc(50% - 2rem);
    width: -moz-calc(50% - 2rem);
    width: calc(50% - 2rem);
    padding: .5rem 1rem;
    margin: 1rem;
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
    border-radius: .5rem;
    border: .0625rem solid #363636;
    -webkit-box-shadow: 0 .625rem 1.875rem -.9375rem #000;
    box-shadow: 0 .625rem 1.875rem -.9375rem #000;
    font-size: .9rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.word .link img {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: .9375rem;
    background: #21252b center no-repeat;
    background-size: contain;
}

.word .link div {
    padding-left: 1rem;
}

.word .link div .title {
    margin: .5rem 0;
    font-family: Mulish, 'Noto Serif JP', 'Noto Serif SC', Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
    font-weight: 700;
    color: var(--bg-color);
    border: none;
    font-size: large;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.word .link div .text {
    font-size: .75em;
    margin: .5rem 0;
}

.word .link:hover {
    color: var(--header-text-color);
    background-color: var(--bg-color);
    -webkit-box-shadow: 0 .125rem 1.25rem var(--bg-color);
    box-shadow: 0 .125rem 1.25rem var(--bg-color);
    border-color: var(--bg-color);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.word .link:hover div .title {
    color: #ccc;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.word .spoiler,
.word button {
    border-radius: 5px;
    margin-top: 10px
}

.word .spoiler {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    color: rgba(62, 70, 122, .966);
    background-color: rgba(62, 70, 122, .966);
    border-color: rgba(42, 47, 81, .966);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.word .spoiler:hover {
    color: rgba(255, 255, 255, .966);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.word button {
    color: #fff;
    text-decoration: none;
    background-color: #006aff;
    background-image: -webkit-gradient(linear, left top, right top, from(#0091ff), to(#005eff));
    background-image: -webkit-linear-gradient(left, #0091ff, #005eff);
    background-image: -moz-linear-gradient(left, #0091ff, #005eff);
    background-image: linear-gradient(to right, #0091ff, #005eff);
    border: 0;
    margin-left: 0;
    padding: 5px 10px;
    -webkit-box-shadow: 0 0 10px #05f;
    box-shadow: 0 0 10px #05f;
    font-size: 12px;
    -webkit-transition: padding-left 500ms, padding-right 500ms, font-size 500ms, -webkit-box-shadow 500ms;
    transition: padding-left 500ms, padding-right 500ms, font-size 500ms, -webkit-box-shadow 500ms;
    -moz-transition: padding-left 500ms, padding-right 500ms, box-shadow 500ms, font-size 500ms;
    transition: padding-left 500ms, padding-right 500ms, box-shadow 500ms, font-size 500ms;
    transition: padding-left 500ms, padding-right 500ms, box-shadow 500ms, font-size 500ms, -webkit-box-shadow 500ms
}

.word button:hover {
    -webkit-box-shadow: 5px 5px 10px #05f;
    box-shadow: 5px 5px 10px #05f;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms
}

.word .codes {
    overflow: hidden !important;
    font-family: 'cascadia mono', 'cascidia code';
    margin-right: 10px;
    background-color: #0000006e;
    padding-top: 30px;
}

.word .codes code {
    background-color: unset;
}

.word .code-toolbar .toolbar {
    margin-right: 10px;
}

.word .code-toolbar::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: #fc625d;
    width: .75rem;
    height: .75rem;
    left: .75rem;
    top: .8125rem;
    -webkit-box-shadow: 1.25rem 0 #fdbc40, 2.5rem 0 #35cd4b;
    box-shadow: 1.25rem 0 #fdbc40, 2.5rem 0 #35cd4b;
}

.word ol li::before,
.word ul li::before {
    content: "";
    display: inline;
    border-radius: 50%;
    position: absolute;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

.word ul li::before {
    content: "";
    border: 1px solid var(--bs-primary);
    width: .4em;
    height: .4em;
    margin-top: .6em;
    margin-left: -10px
}

.word ul li:hover::before {
    content: "";
    background-color: #2a7ffd;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

.word ol li,
.word ul li {
    margin-left: -22px;
    list-style: none
}

.word ol li::before {
    counter-increment: counter;
    content: counter(counter);
    border: 4px solid var(--bs-primary);
    background-color: var(--bs-primary);
    width: 1.4em;
    height: 1.4em;
    margin-left: -35px;
    margin-top: 2px;
    padding-left: 2px;
    line-height: .7;
    font-size: .8em;
    font-family: 'cascadia code light'
}

.word ol li:hover::before {
    content: counter(counter);
    background-color: #5498ff;
    border: 4px solid #5498ff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

.word ol li {
    margin-left: -5px;
    font-size: 1
}

.word ol {
    counter-reset: counter
}

.word {
    .blue {
        color: var(--bs-blue);
    }

    .indigo {
        color: var(--bs-indigo);
    }

    .purple {
        color: var(--bs-purple);
    }

    .pink {
        color: var(--bs-pink);
    }

    .red {
        color: var(--bs-red);
    }

    .orange {
        color: var(--bs-orange);
    }

    .yellow {
        color: var(--bs-yellow);
    }

    .green {
        color: var(--bs-green);
    }

    .teal {
        color: var(--bs-teal);
    }

    .cyan {
        color: var(--bs-cyan);
    }

    .white {
        color: var(--bs-white);
    }

    .gray {
        color: var(--bs-gray);
    }

    .gray-dark {
        color: var(--bs-gray-dark);
    }

    .primary {
        color: var(--bs-primary);
    }

    .secondary {
        color: var(--bs-secondary);
    }

    .success {
        color: var(--bs-success);
    }

    .info {
        color: var(--bs-info);
    }

    .warning {
        color: var(--bs-warning);
    }

    .danger {
        color: var(--bs-danger);
    }

    .light {
        color: var(--bs-light);
    }

    .dark {
        color: var(--bs-dark);
    }

    .rainbow {
        color: white;
        background-image: -webkit-gradient(linear,right top, left top,from(#ff4500),color-stop(orange),color-stop(gold),color-stop(#90ee90),color-stop(#0ff),color-stop(#1e90ff),color-stop(#9370db),color-stop(#ff69b4),to(#ff4500));
        background-image: -webkit-linear-gradient(right,#ff4500,orange,gold,#90ee90,#0ff,#1e90ff,#9370db,#ff69b4,#ff4500);
        background-image: -moz-linear-gradient(right,#ff4500,orange,gold,#90ee90,#0ff,#1e90ff,#9370db,#ff69b4,#ff4500);
        background-image: linear-gradient(to left,#ff4500,orange,gold,#90ee90,#0ff,#1e90ff,#9370db,#ff69b4,#ff4500);
        background-size: 110vw;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-animation: rainbow 60s linear infinite;
           -moz-animation: rainbow 60s linear infinite;
                animation: rainbow 60s linear infinite;
    }
}

/* 加载动画样式 */
.loader {
    background: #000;
    background: -webkit-radial-gradient(#222, #000);
    background: -moz-radial-gradient(#222, #000);
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    -webkit-animation:
        spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -moz-animation:
        spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    animation:
        spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    width: 100px;
}

.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap:nth-child(1) {
    -webkit-animation-delay: -50ms;
    -moz-animation-delay: -50ms;
    animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
    -webkit-animation-delay: -100ms;
    -moz-animation-delay: -100ms;
    animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
    -webkit-animation-delay: -150ms;
    -moz-animation-delay: -150ms;
    animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
    -webkit-animation-delay: -200ms;
    -moz-animation-delay: -200ms;
    animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
    -webkit-animation-delay: -250ms;
    -moz-animation-delay: -250ms;
    animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@-webkit-keyframes spin {

    0%,
    15% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {

    0%,
    15% {
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {

    0%,
    15% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.word table {
    border-collapse: separate;
    border-spacing: 0;
    border-right: 2px solid #354e7d;
    border-bottom: 2px solid #354e7d;
    text-align: center;
    font-size: 20px;
    background-color: #556c9b;
}

.word table th {
    border-left: 2px solid #354e7d;
    border-top: 2px solid #354e7d;
}

.word table td {
    border-left: 2px solid #354e7d;
    border-top: 2px solid #354e7d;
}

.word table tr:nth-child(odd) {
    background-color: #667496;
}

.word .tag-pink,
.word .tag-red,
.word .tag-orange,
.word .tag-green,
.word .tag-cyan,
.word .tag-blue,
.word .tag-purple {
    float: left;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
}

.word .tag-pink {
    color: #eb2f96;
    background: #4e0f31;
    border-color: #49323c;
}

.word .tag-red {
    color: #f5222d;
    background: #5d0d11;
    border-color: #523332;
}

.word .tag-orange {
    color: #fa8c16;
    background: #5a3309;
    border-color: #62533b;
}

.word .tag-green {
    color: #52c41a;
    background: #1c4009;
    border-color: #313e26;
}

.word .tag-cyan {
    color: #13c2c2;
    background: #063f3f;
    border-color: #2d4d4a;
}

.word .tag-blue {
    color: #1890ff;
    background: #093660;
    border-color: #22323c;
}

.word .tag-purple {
    color: #722ed1;
    background: #2c1250;
    border-color: #594967;
}

.word .block-default::before,
.word .block-primary::before,
.word .block-info::before,
.word .block-success::before,
.word .block-warning::before,
.word .block-danger::before {
    position: absolute;
    left: .5rem;
    top: -webkit-calc(50% - 1.2rem);
    top: -moz-calc(50% - 1.2rem);
    top: calc(50% - 1.2rem);
    font-family: ic;
    font-weight: 400;
    font-size: 1.5rem;
}

.word .block-default,
.word .block-primary,
.word .block-info,
.word .block-success,
.word .block-warning,
.word .block-danger {
    background-color: #36363686;
}

.word .block-default {
    border-radius: .1875rem;
    margin: 1rem 0;
    padding: 1rem;
    position: relative;
    color: #ccc;
    border-left: .25rem solid #666;
    font-size: .875em;
    padding-left: 2.5rem;
}

.word .block-default::before {
    color: #ccc;
    content: "\ef23";
}


.word .block-primary {
    border-radius: .1875rem;
    margin: 1rem 0;
    padding: 1rem;
    position: relative;
    color: #ccc;
    border-left: .25rem solid #7b6077cc;
    font-size: .875em;
    padding-left: 2.5rem;
}

.word .block-primary::before {
    color: #a174cdcc;
    content: "\f082";
}

.word .block-info {
    border-radius: .1875rem;
    margin: 1rem 0;
    padding: 1rem;
    position: relative;
    color: #ccc;
    border-left: .25rem solid #556284cc;
    font-size: .875em;
    padding-left: 2.5rem;
}

.word .block-info::before {
    color: #6da4dbcc;
    content: "\f02b";
}

.word .block-success {
    border-radius: .1875rem;
    margin: 1rem 0;
    padding: 1rem;
    position: relative;
    color: #ccc;
    border-left: .25rem solid #617458cc;
    font-size: .875em;
    padding-left: 2.5rem;
}

.word .block-success::before {
    color: #80c881cc;
    content: "\ef66";
}

.word .block-warning {
    border-radius: .1875rem;
    margin: 1rem 0;
    padding: 1rem;
    position: relative;
    color: #ccc;
    border-left: .25rem solid #786f5dcc;
    font-size: .875em;
    padding-left: 2.5rem;
}

.word .block-warning::before {
    color: #dcb000cc;
    content: "\efb5";
}

.word .block-danger {
    border-radius: .1875rem;
    margin: 1rem 0;
    padding: 1rem;
    position: relative;
    color: #ccc;
    border-left: .25rem solid #926b73cc;
    font-size: .875em;
    padding-left: 2.5rem;
}

.word .block-danger::before {
    color: #ef264fcc;
    content: "\f050";
}


.word details {
    margin-top: .625rem;
}


/* primary(purple) */
.word details[theme="primary"] summary {
    list-style: none;
    background-color: #323132cc;
    color: #a174cdcc;
    outline: 0;
    cursor: pointer;
    padding: .625rem;
    border-radius: .25rem;
}

.word details[theme="primary"][open] summary {
    color: #ccc;
}

.word details[theme="primary"] summary::before {
    font-family: ic;
    content: "\ef1f";
}

.word details[theme="primary"][open] summary::before {
    font-family: ic;
    color: #a174cdcc;
    content: "\ef1a";
}

.word details[theme="primary"][open] summary::before {
    color: #ccc;
}

.word details[theme="primary"][open] summary {
    background-color: #7448a195;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.word details[theme="primary"]>div {
    background-color: #32323086;
    border-radius: 0 0 .25rem .25rem;
    padding: .625rem;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    animation: fadeIn .5s;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}


.word details[theme="primary"] div ol li:hover::before {
    background-color: #9e48a1;
    border: 4px solid #9e48a1;
}

.word details[theme="primary"] div ol li::before {
    background-color: #7448a1;
    border: 4px solid #7448a1;
    color: #ccc;
}

.word details[theme="primary"] div ul li {
    color: #7448a1;
}

.word details[theme="primary"] div ul li:hover::before {
    background-color: #9e48a1;
}

.word details[theme="primary"] div ol li {
    margin-left: .25rem;
    color: #7448a1;
}

.word details[theme="primary"] div ul li::before {
    border: 1px solid #7448a1;
}



/* info(blue) */

.word details[theme="info"] summary {
    list-style: none;
    background-color: #323132cc;
    color: #6da4dbcc;
    outline: 0;
    cursor: pointer;
    padding: .625rem;
    border-radius: .25rem;
}

.word details[theme="info"][open] summary {
    color: #ccc;
}

.word details[theme="info"] summary::before {
    font-family: ic;
    content: "\ef1f";
}

.word details[theme="info"][open] summary::before {
    font-family: ic;
    color: #6da4dbcc;
    content: "\ef1a";
}

.word details[theme="info"][open] summary::before {
    color: #ccc;
}

.word details[theme="info"][open] summary {
    background-color: #277fd6cc;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.word details[theme="info"]>div {
    background-color: #32323086;
    border-radius: 0 0 .25rem .25rem;
    padding: .625rem;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    animation: fadeIn .5s;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}



.word details[theme="info"] div ol li:hover::before {
    background-color: #27bfd6;
    border: 4px solid #27bfd6;
}

.word details[theme="info"] div ol li::before {
    background-color: #277fd6;
    border: 4px solid #277fd6;
    color: #ccc;
}

.word details[theme="info"] div ul li {
    color: #277fd6;
}

.word details[theme="info"] div ul li:hover::before {
    background-color: #27bfd6;
}

.word details[theme="info"] div ol li {
    margin-left: .25rem;
    color: #277fd6;
}

.word details[theme="info"] div ul li::before {
    border: 1px solid #277fd6;
}


/* success(green) */

.word details[theme="success"] summary {
    list-style: none;
    background-color: #323132cc;
    color: #295f2acc;
    outline: 0;
    cursor: pointer;
    padding: .625rem;
    border-radius: .25rem;
}

.word details[theme="success"][open] summary {
    color: #ccc;
}

.word details[theme="success"] summary::before {
    font-family: ic;
    content: "\ef1f";
}

.word details[theme="success"][open] summary::before {
    font-family: ic;
    color: #295f2acc;
    content: "\ef1a";
}

.word details[theme="success"][open] summary::before {
    color: #ccc;
}

.word details[theme="success"][open] summary {
    background-color: #80c881cc;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.word details[theme="success"]>div {
    background-color: #32323086;
    border-radius: 0 0 .25rem .25rem;
    padding: .625rem;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    animation: fadeIn .5s;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.word details[theme="success"] div ol li:hover::before {
    background-color: #b1c880;
    border: 4px solid #b1c880;
}

.word details[theme="success"] div ol li::before {
    background-color: #80c881;
    border: 4px solid #80c881;
    color: #ccc;
}

.word details[theme="success"] div ul li {
    color: #80c881;
}

.word details[theme="success"] div ul li:hover::before {
    background-color: #b1c880;
}

.word details[theme="success"] div ol li {
    margin-left: .25rem;
    color: #80c881;
}

.word details[theme="success"] div ul li::before {
    border: 1px solid #b1c880;
}

/* warning(yellow) */

.word details[theme="warning"] summary {
    list-style: none;
    background-color: #323132cc;
    color: #dcb000cc;
    outline: 0;
    cursor: pointer;
    padding: .625rem;
    border-radius: .25rem;
}

.word details[theme="warning"][open] summary {
    color: #ccc;
}

.word details[theme="warning"] summary::before {
    font-family: ic;
    content: "\ef1f";
}

.word details[theme="warning"][open] summary::before {
    font-family: ic;
    color: #dcb000cc;
    content: "\ef1a";
}

.word details[theme="warning"][open] summary::before {
    color: #ccc;
}

.word details[theme="warning"][open] summary {
    background-color: #dcb000cc;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.word details[theme="warning"]>div {
    background-color: #32323086;
    border-radius: 0 0 .25rem .25rem;
    padding: .625rem;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    animation: fadeIn .5s;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.word details[theme="warning"] div ol li:hover::before {
    background-color: #dc9300;
    border: 4px solid #dc9300;
}

.word details[theme="warning"] div ol li::before {
    background-color: #dcb000;
    border: 4px solid #dcb000;
    color: #ccc;
}

.word details[theme="warning"] div ul li {
    color: #dcb000;
}

.word details[theme="warning"] div ul li:hover::before {
    background-color: #dc9300;
}

.word details[theme="warning"] div ol li {
    margin-left: .25rem;
    color: #dcb000;
}

.word details[theme="warning"] div ul li::before {
    border: 1px solid #dcb000;
}

/* danger(red) */
.word details[theme="danger"] summary {
    list-style: none;
    background-color: #323132cc;
    color: #ef264fcc;
    outline: 0;
    cursor: pointer;
    padding: .625rem;
    border-radius: .25rem;
}

.word details[theme="danger"][open] summary {
    color: #ccc;
}

.word details[theme="danger"] summary::before {
    font-family: ic;
    content: "\ef1f";
}

.word details[theme="danger"][open] summary::before {
    font-family: ic;
    color: #ef264fcc;
    content: "\ef1a";
}

.word details[theme="danger"][open] summary::before {
    color: #ccc;
}

.word details[theme="danger"][open] summary {
    background-color: #ef264fcc;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.word details[theme="danger"]>div {
    background-color: #32323086;
    border-radius: 0 0 .25rem .25rem;
    padding: .625rem;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    animation: fadeIn .5s;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.word details[theme="danger"] div ol li:hover::before {
    background-color: #ef2687;
    border: 4px solid #ef2687;
}

.word details[theme="danger"] div ol li::before {
    background-color: #ef264f;
    border: 4px solid #ef264f;
    color: #ccc;
}

.word details[theme="danger"] div ul li {
    color: #ef264f;
}

.word details[theme="danger"] div ul li:hover::before {
    background-color: #ef2687;
}

.word details[theme="danger"] div ol li {
    margin-left: .25rem;
    color: #ef264f;
}

.word details[theme="danger"] div ul li::before {
    border: 1px solid #ef264f;
}